@font-face{
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 'semi-bold';
    font-style: normal;
}